[Unit]
Description=TCP connections logger
After=network.target

[Service]
Type=simple
ExecStart=/svr/usr/bin/tcpd /var/log/connections/lasts.tcpd
Restart=always

[Install]
WantedBy=multi-user.target

